TODO/
*.pyc
__pycache__/
hardwarex.dll
hardwarex.so
libhardwarex.so
!x86/hardwarex.dll
!x64/hardwarex.dll
!linux_x86/hardwarex.so
!linux_x86/libhardwarex.so
!linux_x64/hardwarex.so
!linux_x64/libhardwarex.so
